body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
}

.perfil-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.perfil-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  text-align: center;
  margin-top: -300px;
}

.perfil-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil-header img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 3px solid var(--dark-blue);
  margin-bottom: 10px;
}

.perfil-header h1 {
  color: var(--dark-blue);
  font-size: 24px;
  margin: 10px 0;
}

.perfil-detalhes p {
  color: #555;
  margin: 10px 0;
}

.perfil-descricao {
  margin-top: 20px;
}

.perfil-descricao h2 {
  color: var(--dark-blue);
  font-size: 20px;
  margin-bottom: 10px;
}

.perfil-descricao p {
  color: #555;
  margin: 10px 0;
  text-align: center;
}

#editar-perfil-btn {
  background-color: var(--light-blue);
  color: var(--dark-blue);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#editar-perfil-btn:hover {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  transition: 0.3s;
  transform: scale(1.05);
}

.editar-perfil-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  text-align: center;
}

.editar-perfil-container h2 {
  color: var(--dark-blue);
  font-size: 24px;
  margin-bottom: 20px;
}

.editar-perfil-container form div {
  margin-bottom: 15px;
}

.editar-perfil-container form input,
.editar-perfil-container form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.editar-perfil-container form textarea {
  resize: none;
  height: 100px;
}

.editar-perfil-container form label {
  display: block;
  margin-bottom: 5px;
  color: var(--dark-blue);
}

.editar-perfil-container form img {
  display: block;
  margin: 10px auto;
  border: 3px solid var(--dark-blue);
  border-radius: 10px;
}

.editar-perfil-container form button {
  background-color: var(--light-blue);
  color: var(--dark-blue);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.editar-perfil-container form button:hover {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  transition: 0.3s;
  transform: scale(1.05);
}

.editar-perfil-container form button[type="button"] {
  background-color: #ddd;
  color: #333;
  margin-left: 10px;
}

.editar-perfil-container form button[type="button"]:hover {
  background-color: #bbb;
  color: #000;
}
